// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// FontAwesome
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// AdminLTE
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";


.card {
    padding-bottom: 0.5rem
}

.card-header {
    margin-bottom: 0.5rem;
}

label {
    margin-right: 0.5rem;
}

.dataTables_info {
    margin-left: 0.5rem;
}

.dataTables_length {
    margin-left: 0.5rem;
}

.login-page, .register-page {
    background-image: url(public/images/yyPq11R.jpeg);
}
